@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #2c0b0e;
  /* color: #5a3e2b; */
  font-family: "Quicksand";
  font-weight: 500;
  height: 100vh;
  background-color: #f0e8e8;
}
h1 {
  padding: 2rem 0 0.5rem;
}
form p {
  font-weight: 600;
  padding: 1rem 0 0.5rem;
  font-size: 2rem;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app {
  margin: 50px auto;
  max-width: 500px;
}

.container {
  height: 80vh;
  padding: 2rem 3rem;
  border-radius: 10px;
  background-color: #fefefe;
}
h2 {
  margin: 25px;
}
.main {
  position: relative;
  height: 78%;
}
.btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 0 15px;
  align-items: center;
  justify-content: space-between;
}
.btn > div {
  background-color: #f93409;
  color: #fefefe;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.completed {
  color: #f93409;
}
.tab-btns {
  padding: 0 1.4rem;
}
.tab-btn {
  text-align: center;
  height: 30px;
  width: 30px;
  display: inline;
  border-radius: 50%;
  border: 3px solid #2c0b0e;
}
.tab-btn:not(:last-child):after {
  display: block;
  content: "";
  height: 3px;
  width: 8.5rem;
  margin-left: 35px;
  background-color: #2c0b0e;
  position: absolute;
  top: 40px;
}

.tab-btn-completed {
  background-color: #f93409;
  border: none;
  color: transparent;
}
.tab-btn-completed:not(:last-child):after {
  background-color: #f93409;
}
input,
option,
select {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  padding: 0 1.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.submit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  padding: 1.5rem 0;
}
/* .submit > div {
} */
.submit > div > .title {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}
.submit > div > .descp {
  font-size: 2rem;
  padding-left: 1rem;
}
